.margin{
	margin-top:2%;
	margin-left:10%;
	margin-right:10%;
}
.healthbar{
	background-color:lawngreen;
	width:200px;
	height:25px;
	position:absolute;
}
.healthbar-depleted{
	background-color:whitesmoke;
	width:200px;
	height:25px;
}
.white{
	color:white;
}