.margin{
	margin-top:2%;
	margin-left:10%;
	margin-right:10%;
}
.healthbar{
	background-color:lawngreen;
	width:200px;
	height:25px;
	position:absolute;
}
.healthbar-depleted{
	background-color:whitesmoke;
	width:200px;
	height:25px;
}
.boxshadow {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}
.verticalmargin{
	margin-top: 2%;
	margin-bottom:2%;
}
.white{
	color:white;
}
.enemylog{
	background-color:salmon;
	color:red;
}
.playerlog{
	background-color:aquamarine;
	color:blue;
}